{% load static %}
	<!-- Footer
	================================================== -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-12 text-center my-2 pt-5 pb-4">
					<p>Copyright © 2022 - <a href="#" target="_blank">Department of EEE, College of Engineering Guindy</a></p>
				</div>
			</div>
		</div>
		<div class="pa-back-to-top-wrap">
			<a class="pa-back-to-top" href="#top"><span class="pa-back-to-top"></span></a>
		</div>
	</footer>


	<!-- Helper div for inserting before scripts
	================================================== -->
	<div class="pa-body-end"></div>