{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Meet Particle, one of the Best HTML Templates with Modern, Tech & Startup Style. See it live now!">
	<meta name="author" content="Skilltech Web Design">
	<meta name="keywords" content="particle, video background, html template, hero video, html themes, html templates, technology html, modern html, theme, template, skilltech web design, creative html, video html theme, skilltechwebdesign.com"/>

	<meta property="og:title" content="This Video Background Particles HTML Theme will blow your mind!"/>
	<meta property="og:description" content="Meet Particle, one of the Best HTML Templates with Modern, Tech & Startup Style. See it live now!"/>
	<meta property="og:image" content="assets/images/facebook-post-img-1200x630-2021.jpg"/>
	<meta property="og:site_name" content="SkilltechWebDesign.com"/>

	<title>WAVES | 2022 </title>

	<link rel="icon" href="{% static 'assets/images/logo-mobile.ico'%}" type="image/x-icon">

	<!-- Bootstrap CSS -->
	<link href="{% static 'assets/vendor/bootstrap/bootstrap.min.css'%}" rel="stylesheet">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&amp;family=Play:wght@400;700&amp;family=Source+Sans+Pro:ital,wght@0,300;1,300&amp;family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,700;0,900;1,200;1,300;1,400&amp;family=Blinker:wght@200;300;400;600;700;800&amp;display=swap" rel="stylesheet">
	<!-- Icon Fonts -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{% static 'assets/fonts/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
	<!-- Animate.css -->
	<link href="{% static 'assets/vendor/animate/animate.min.css'%}" rel="stylesheet">
	<!-- Off Canvas Menu - Default Theme -->
	<link href="{% static 'assets/vendor/offcanvas-nav/hc-offcanvas-nav.css'%}" rel="stylesheet" />
	<!-- Off Canvas Menu - Carbon Theme -->
	<!-- <link href="assets/css/vendor/hc-offcanvas-nav.css" rel="stylesheet" /> -->

	<!-- Particle Theme CSS -->
	<link href="{% static 'assets/css/particle-theme.css'%}" rel="stylesheet">
	<link href="{% static 'assets/css/particle-colors.css'%}" rel="stylesheet">

	<!-- Theme Preview Only CSS -->
	<link href="{% static 'assets/css/theme-preview-color-styler.css'%}" rel="stylesheet">

	<!-- jQuery -->
	<script src="{% static 'assets/vendor/jquery/jquery.min.js'%}"></script>	

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46362219-11"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-46362219-11');
	</script>


</head>



    {% include 'includes/navbar.html'%}

    {% block content %}
    {% endblock %}

    {% include 'includes/footer.html'%}

    <!-- Scripts / Body End
	================================================== -->
	<!-- Vendor Scripts -->
	<script src="{% static 'assets/vendor/jquery/jquery-migrate.min.js'%}"></script>
	<script src="{% static 'assets/vendor/bootstrap/bootstrap.min.js'%}"></script>
	<script src="{% static 'assets/vendor/offcanvas-nav/hc-offcanvas-nav.js'%}"></script>
	<script src="{% static 'assets/vendor/parallax/parallax.min.js'%}"></script>
	<script src="{% static 'assets/vendor/jquery/jquery.easing.min.js'%}"></script>
	<script src="{% static 'assets/vendor/typed/typed.min.js'%}"></script>
	<script src="{% static 'assets/vendor/wow/wow.min.js'%}"></script>
	<script src="{% static 'assets/vendor/particles/particles.min.js'%}"></script>
	<script src="{% static 'assets/vendor/waypoints/waypoints.min.js'%}"></script>
	<script src="{% static 'assets/vendor/counterup/jquery.counterup.min.js'%}"></script>

	

	<!-- Theme Scripts and Inits -->
	<script src="{% static 'assets/js/particle-theme.js'%}"></script>
	<script src="{% static 'assets/js/page-home.js'%}"></script>

	<!-- Theme Preview Only Scripts -->
	<script src="{% static 'assets/vendor/spectrum/spectrum.min.js'%}"></script>
	<script src="{% static 'assets/vendor/clipboard/clipboard.min.js'%}"></script>
	<script src="{% static 'assets/js/theme-preview-only.js'%}"></script>

	<!-- Theme Preview Only CSS -->
	<link href="{% static 'assets/vendor/spectrum/spectrum.min.css'%}" rel="stylesheet">
    